# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env

# Django
/staticfiles/
db.sqlite3

# VSCode
.vscode/

# Node.js
node_modules/
npm-debug.log
package-lock.json

# Tailwind output (opcional, se for gerado dinamicamente)
static/css/styles.css
