<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    
    <h1>About</h1>
    <p>This is a simple Todo List application built with Django.</p>
    <p>It allows users to create, read, update, and delete tasks.</p>
    <p>Feel free to explore the code and make improvements!</p>

    <a href="{% url 'home' %}">Back to Home</a>
    <a href="{%url 'courses'%}">Go to courses</a>
    
</body>
</html>