<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    
    <h1>Courses</h1>
    <p>Here are some courses you might be interested in:</p>
    <ul>
        <li>Course 1: Introduction to Django</li>
        <li>Course 2: Advanced Django Techniques</li>
        <li>Course 3: Building REST APIs with Django</li>
    </ul>
    <p>For more information, please visit our <a href="{% url 'contact' %}">Contact</a> page.</p>


</body>
</html>