<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <ul>
        <li>Task 1</li>
        <li>Task 2</li>
        <li>Task 3</li>
    </ul>
    
    <a href="{%url 'about' %}"><button>Go to about page</button></a><br>
    <a href="{%url 'contact'%}"><button>contact page</button></a><br>
    <a href="{%url 'courses'%}"><button>courses page</button></a>
</body>
</html>